.features_widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 24px 0 0 0;
}

.features_widget__title {
    font-weight: 600;
    margin: 16px 0 0;
}

.features_widget__title-span {
    background: linear-gradient(270deg, #1a4dbd, #4dabf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.features_widget__container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 16px 0 0;
}

.features_widget__iten {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 8px 0;
    padding: 16px 0;
    border: 1px solid rgba(0, 0, 0, 0.048);
    border-radius: 8px;
}

.features_widget__iten:hover {
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.034);
    border: 1px solid rgba(0, 0, 0, 0.048);
}

.features_widget__img {
    width: 72px;
}

.features_widget__feature {
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    margin: 8px 0;
}

.features_widget__description {
    font-size: 10px;
    text-align: center;
}

@media (min-width: 360px) {

    .features_widget__title {
        font-size: 24px;
        margin: 48px 0 0;
    }

    .features_widget__img {
        width: 72px;
    }

    .features_widget__feature {
        font-size: 18px;
    }

    .features_widget__description {
        font-size: 12px;
    }
}

@media (min-width: 832px) {

    .features_widget {
        margin-bottom: 40px;
    }

    .features_widget__container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .features_widget__iten {
        width: 240px;
        margin: 16px 16px;
        padding: 16px;
    }

    .features_widget__title {
        font-size: 32px;
        margin: 56px 0 0;
    }
}