.overview_widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: auto;
    width: 100%;
    margin: 0 0 32px;
}

.overview_widget__img {
    width: 100%;
    margin: 12px;
    border: 1px solid rgba(0, 0, 0, 0.055);
    border-radius: 8px;
    box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.13);
}

.overview_widget__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 0 0;
}

.overview_widget__hero {
    font-size: clamp(20px, 2vw, 24px);
    font-weight: 600;
    background: linear-gradient(90deg, #1a4dbd, #4dabf7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overview_widget__subtitle {
    font-size: clamp(18px, 2vw, 20px);
    font-weight: 600;
    color: #000000;
    line-height: 1;
}

.overview_widget__features {
    text-align: center;
    font-size: clamp(14px, 2vw, 16px);
    margin: 8px;
}

.overview_widget__button {
    cursor: pointer;
    height: 44px;
    margin: 8px;
    padding: 0 16px;
    margin: 12px 0 0;
    border: none;
    border-radius: 24px;
    color: white;
    background-color: #1356e6;
}

.overview_widget__button:hover {
    background-color: #1c49a8;
}

/* TABLET */

@media (min-width: 360px) {

    .overview_widget__img {
        width: 328px;
    }

    .overview_widget__hero {
        font-size: clamp(26px, 2vw, 30px);
    }

    .overview_widget__subtitle {
        font-size: clamp(22px, 2vw, 24px);
    }

    .overview_widget__features {
        font-size: clamp(16px, 2vw, 18px);
    }
    
    .overview_widget__button {
        padding: 14px 20px;
        border-radius: 32px;
        font-size: 16px;
    }
}

/* DESKTOP */

@media (min-width: 832px) {
    
    .orion_page {
        padding: 36px 88px;
    }

    .overview_widget {
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 40px;
    }

    .overview_widget__container {
        align-items: flex-start;

    }

    .overview_widget__hero {
        font-size: 40px;
    }

    .overview_widget__subtitle {
        font-size: 40px;
        padding: 0 16px 0 0;
    }

    .overview_widget__features {
        text-align: left;
        margin: 8px 0;
        width: 80%;
    }

    .overview_widget__button {
        margin: 16px 0;
    }

    .overview_widget__img {
        width: 376px;
    }

}