.pricing_widget {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 24px 0;
}

.pricing_widget__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: clamp(18px, 2vw, 20px);
}

.pricing_widget__container {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 24px 0 0;
}

.pricing_widget__card01 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0 0 16px;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #f3f3f3;
}

.pricing_widget__card02 {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
    padding: 12px;
    border: 1px solid #2564eb4f;
    border-radius: 8px;
    background-color: #EFF6FF;

}

.pricing_widget__card_legend {
    display: inline;
    position: absolute;
    font-size: clamp(10px, 2vw, 12px);
    color: white;
    padding: 2px 8px;
    border-radius: 8px;
    top: -0.7em;
    left: 50%;
    transform: translate(-50%);
    background-color: #2563EB;
}

.pricing_widget__card01:hover {
    border: 1px solid #2564eb3b;
    transition: 0.4s;
}

.pricing_widget__card_header {
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 600;
}

.pricing_widget__card_price {
    font-size: clamp(12px, 2vw, 14px);
    margin: 2px 0 4px;
}

.pricing_widget__card_price-amount {
    font-size: clamp(16px, 2vw, 18px);
    font-weight: 600;
}

.pricing_widget__card_list {
    list-style: none;
}

.pricing_widget__card_list-feature {
    font-size: clamp(10px, 2vw, 12px);
    margin: 4px 0;
}

@media (min-width:360px) {

    .pricing_widget__title {
        font-size: 24px;
    }

    .pricing_widget__card_legend {
        font-size: 12px;
        padding: 4px 12px;
        border-radius: 16px;
    }
    
    .pricing_widget__card_header {
        font-size: 14px;
    }

    .pricing_widget__card_price {
        font-size: 14px;
    }

    .pricing_widget__card_price-amount {
        font-size: 18px;
    }

    .pricing_widget__card_list-feature {
        font-size: 10px;
    }

}

@media (min-width: 832px) {

    .pricing_widget__container {
        display: flex;
        flex-direction: row;
    }

    .pricing_widget__card01 {
        margin: 12px;
    }

    .pricing_widget__card02 {
        margin: 12px;
    }

    

}
