* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    xxxborder: 1px solid red;
}

* img {
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    font-family: sans-serif;
    min-height: 100vh;
    background-color: #ffffff;
}

.orion_page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    XXXbackground-color: rgba(0, 0, 255, 0.486);
    height: auto;
    max-width: 1152px;
    margin: 4px 0;
    background-color: #F9FAFB;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.103);
}

@media (min-width: 832px) {



}